
/*################################*\
    legacy  |  _c-AsceLogo.less
\*################################*/


// The ASCE Logo
//
// ASCE’s logo (<svg> element) at copyright line.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-06-15</time></dd>
// </dl></header>
//
// Markup:
// <div class="c-ConferenceTitles">
// </div>
//
// Weight: 8
//
// Styleguide Components.AsceLogo
.c-AsceLogo {
  display: inline-block;
  line-height: inherit;
  width: auto;
  height: var(--vru);
  margin-right: 1rem;
  vertical-align: middle;
  @media screen and (min-width: 60em) {
    height: calc(~'2 * var(--vru)');
  }
  path {
    fill: currentColor;
  }
}
