
/*################################*\
    legacy  |  _c-ConferenceTitles.less
\*################################*/
@import (reference) url('../../node_modules/xmeter/css/src/__tool.fontsize.less');


// Conference Titles
//
// Typographical styles for conference titles.
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2017-04-13</time></dd>
// </dl></header>
//
// Markup:
// <div class="c-ConferenceTitles">
//   <h1 class="c-ConferenceTitles__Name">Civil Engineering Congress 2016</h1>
//   <p class="c-ConferenceTitles__Detail">
//     <span>New York, New York</span>
//     |
//     <time datetime="2016-06-07T00:00:00-04:00">June 7</time>&ndash;<time
//       datetime="2016-06-09T00:00:00-04:00">9, 2016</time>
//   </p>
//   <p class="c-ConferenceTitles__Tagline">Building on the Past</p>
// </div>
//
// Weight: 3
//
// Styleguide Components.ConferenceTitles
.c-ConferenceTitles {
  font-family: 'futura-pt','Open Sans','Helvetica Neue','Helvetica',sans-serif;
  text-align: center;
  @media (min-width: 75em) {
    .font-size-mod(20/16);
  }
  & > * {
    margin-bottom: calc(~'0.5 * var(--vru)');  // undo `h1` and `p`
  }
  & > *:last-child {
    margin-bottom: 0; // undo `p`
  }
}
.c-ConferenceTitles__Name {
  font-weight: 700;
  .font-size-el(1.25);
  @media screen and (min-width: 45em) {
      padding-top: 0; // undo `h1` // already margin-top on the `.o-Flex--siteHead`
  }
}
.c-ConferenceTitles__Detail {
  font-weight: 500;
}
.c-ConferenceTitles__Tagline {
  font-weight: 400;
  font-style: italic;
}
