
/*################################*\
    legacy  |  _c-FooterPanel.less
\*################################*/


// Panel for a footer tab.
// Each panel corresponds to a previous, next, or current year conference.
//
// ^subcomponents
// ^author
// : Chris Harvey
// ^updated
// : 2017-06-15
.c-FooterPanel {
  background-image: url('../../images/pattern-bg.png');
  padding-left: 1rem;
  padding-right: 1rem;
}
