
/*################################*\
    legacy  |  _c-Sitemap.less
\*################################*/
@import (reference) url('../../node_modules/xmeter/src/__tool.fontsize.less');


// Navigation in footer.
//
// ^subcomponents
// __Item - an item at the top-most level in the sitemap
// __Sub  - list to subpages
// ^author
// : Chris Harvey
// ^updated
// : 2017-06-12
.c-Sitemap {
  font-weight: 600;
  text-transform: uppercase;
}

.c-Sitemap__Item {
  margin-bottom: var(--vru);
}

.c-Sitemap__Sub {
  font-weight: 300;
  .font-size-el(14/16); // REVIEW magic number
  text-transform: none; // override Sitemap
}
