
/*################################*\
    legacy  |  _c-Toggle.less
\*################################*/


// Toggle button with "menu" icon in inactive state and "close" icon in active state.
//
// ^subcomponents
// __Viz   - graphic visualization
// ^author
// Chris Harvey
// ^updated
// 2016-09-19
.c-Toggle {
  // resets:
  background: transparent; background: initial; background: unset;
  font-size: inherit; font-size : unset;
  border: 0;

  z-index: 3; // over Drawer
}

.c-Toggle__Viz {
}
