
/*################################*\
    legacy  |  _hack.slick.less
\*################################*/


///////////////////////////////////////////////////////////////////////////////
// Slick style overrides/additions here.
///////////////////////////////////////////////////////////////////////////////

/*ol*/.slick-slider {
  padding: 0; // override base ol
  margin: 0 1rem;
  margin-inline: 1rem;
  @media screen and (min-width: 30em) {
    margin: 0 2rem; // COMBAK:FALLBACK for logical properties
    margin-inline: 2rem;
  }
  @media screen and (min-width: 45em) {
    margin: 0 4rem; // COMBAK:FALLBACK for logical properties
    margin-inline: 4rem;
  }
}

/*li*/.slick-slide {
  @media screen and (min-width: 30em) {
    margin: 0 1rem; // COMBAK:FALLBACK for logical properties
    margin-inline: 1rem;
  }
  a.h-Block {
    height: var(--supporter-logo-height);
    position: relative; // for absolute logo child
  }
  .c-SupporterBlock__Logo {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%); // HACK for centering the logo
    max-height: 100%;
    padding-right: .5rem;
    padding-left: .5rem;
  }
}
@supports (display: grid) {
  /*li*/.slick-slide {
    a.h-Block {
      position: initial; // COMBAK:FALLBACK for unset
      position: unset;
      display: grid;
    }
    .c-SupporterBlock__Logo {
      // COMBAK:FALLBACK for initial
      position: static;
      top: auto;
      left: auto;
      transform: none;
      padding-right: .5rem;
      padding-left: .5rem;

      // COMBAK:FALLBACK for unset
      position: initial;
      top: initial;
      left: initial;
      transform: initial;

      position: unset;
      top: unset;
      left: unset;
      transform: unset;

      margin: auto;
    }
  }
}
