
/*################################*\
    legacy  |  _o-SideCol.less
\*################################*/


// Side column of the site.
// Contains callouts and aside info.
//
// ^author
// : Chris Harvey
// ^updated
// : 2017-06-21
.o-SideCol {
  main & {
    padding-top: var(--vru);
    padding-left: 2rem; padding-right: 2rem;
    padding-block-start: var(--vru);
    padding-inline: 2rem;
  }
  @media screen and (min-width: 45em) {
    flex: 0 0 var(--side-col-size);
  }
}
