
/*################################*\
    legacy  |  _themes.less
\*################################*/


// Theme styles go here. They override any base and component styles.
// Theme styles are mostly descendant selectors: they change the style of an element
// based on where it lives in the DOM. If the element is moved to another parent,
// its styles could change, depending on its context.
///////////////////////////////////////////////////////////////////////////////

.c-Banner,
.c-NavBar--mobile,
.c-FooterPanel {
  a[href] {
    // unset base stylesheet
    color: inherit;
  }
}

// remove underline from certain menu items, unless hovering/focusing
.c-NavBar--contrib,
.c-NavBar--mobile,
.c-FooterPanel {
  a[href]:not(:hover):not(:focus) {
  // a[href]:not(:hover, :focus) { // CHANGED:NEW syntax not yet supported // NB:LINK <https://caniuse.com/#feat=css-not-sel-list>
    text-decoration: none;    // COMBAK:FALLBACK
    text-decoration: initial; // COMBAK:FALLBACK
    text-decoration: unset;
  }
}

// remove underline from main and sub menu items completely (other styles indicate hover/focus)
.c-NavBar--main,
.c-NavBar--register,
.c-NavBar--sub {
  a[href] {
    text-decoration: none;    // COMBAK:FALLBACK
    text-decoration: initial; // COMBAK:FALLBACK
    text-decoration: unset;
  }
}
