<ul class="o-List o-Flex c-NavBar c-NavBar--main">
  <li class="o-List__Item"><a href="/"><i class="glyphicons glyphicons-home"><span class="h-Hidden">Home</span></i></a></li>
  <li class="o-List__Item" data-menu-target="#programlevel2"><a href="/program">Program <i class="glyphicons -fz-norm glyphicons-chevron-down"><span class="h-Hidden">sub-items</span></i></a></li>
  <li class="o-List__Item" data-menu-target="#locationlevel2"><a href="/location">Location <i class="glyphicons -fz-norm glyphicons-chevron-down"><span class="h-Hidden">sub-items</span></i></a></li>
  <li class="o-List__Item" data-menu-target="#aboutlevel2"><a href="/about">About<!-- i class="glyphicons -fz-norm glyphicons-chevron-down"><span class="h-Hidden">sub-items</span></i--></a></li>
  <li class="o-List__Item"><a href="/contact">Contact</a></li>
</ul>
