<ul class="o-Flex__Item o-List c-Sitemap" role="directory">
  <li class="o-List__Item c-Sitemap__Item"><a href="/">Home</a></li>
  <li class="o-List__Item c-Sitemap__Item">
    <a href="/program">Program</a>
    <ul class="o-List c-Sitemap__Sub">
      <li class="o-List__Item"><a href="/program/call-submissions">Call for Submissions</a></li>
      <!--li class="o-List__Item"><a href="/program/speakers">Speakers</a></li-->
      <!--li class="o-List__Item"><a href="/program/exhibitor-list">Exhibitor List</a></li-->
    </ul>
  </li>
  <li class="o-List__Item c-Sitemap__Item">
    <a href="/location">Location</a>
    <ul class="o-List c-Sitemap__Sub">
      <li class="o-List__Item"><a href="/location/hotel-travel">Hotel &amp; Travel</a></li>
      <li class="o-List__Item"><a href="/location/international-travel">For International Travel</a></li>
    </ul>
  </li>
  <li class="o-List__Item c-Sitemap__Item">
    <a href="/about">About</a>
    <ul class="o-List c-Sitemap__Sub">
      <!--li class="o-List__Item"><a href="/about/cooperating-organizations">Cooperating Organizations</a></li-->
      <!--li class="o-List__Item"><a href="/about/volunteer">Volunteer</a></li-->
    </ul>
  </li>
  <li class="o-List__Item c-Sitemap__Item"><a href="/contact">Contact</a></li>
</ul>
<ul class="o-Flex__Item o-List c-Sitemap" role="directory">
  <li class="o-List__Item c-Sitemap__Item"><a href="/why-attend">Why Attend</a></li>
  <li class="o-List__Item c-Sitemap__Item"><a href="/program/call-submissions">Call for Submissions</a></li>
  <!--li class="o-List__Item c-Sitemap__Item"><a href="/registration">Registration</a></li-->
  <!--li class="o-List__Item c-Sitemap__Item"><a href="/for-speakers">For Speakers</a></li-->
  <li class="o-List__Item c-Sitemap__Item"><a href="/sponsors">Sponsors</a></li>
  <li class="o-List__Item c-Sitemap__Item"><a href="/exhibitors">Exhibitors</a></li>
</ul>
