{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
<ul class="o-Flex__Item o-List c-Sitemap" role="directory">
  <li class="o-List__Item c-Sitemap__Item"><a href="/">Home</a></li>
  <li class="o-List__Item c-Sitemap__Item">
    <a href="/program">Program</a>
    <ul class="o-List c-Sitemap__Sub">
      <li class="o-List__Item"><a href="/program">Speakers</a></li>
      <li class="o-List__Item"><a href="/program">Exhibitor List</a></li>
      <li class="o-List__Item"><a href="/program">ASCE Communities &amp; Pavilions</a></li>
    </ul>
  </li>
  <li class="o-List__Item c-Sitemap__Item">
    <a href="/location">Location</a>
    <ul class="o-List c-Sitemap__Sub">
      <li class="o-List__Item"><a href="/location/hotel-travel">Hotel &amp; Travel</a></li>
      <li class="o-List__Item"><a href="/location/international-travel">For International Travel</a></li>
    </ul>
  </li>
  <li class="o-List__Item c-Sitemap__Item">
    <a href="/about">About</a>
    <ul class="o-List c-Sitemap__Sub">
      <li class="o-List__Item"><a href="/about">Cooperating Organizations</a></li>
      <li class="o-List__Item"><a href="/about">Volunteer</a></li>
    </ul>
  </li>
  <li class="o-List__Item c-Sitemap__Item"><a href="/contact">Contact</a></li>
</ul>
<ul class="o-Flex__Item o-List c-Sitemap" role="directory">
  <li class="o-List__Item c-Sitemap__Item"><a href="/why-attend">Why Attend</a></li>
  <li class="o-List__Item c-Sitemap__Item"><a href="/registration">Registration</a></li>
  <li class="o-List__Item c-Sitemap__Item"><a href="/for-speakers">For Speakers</a></li>
  <li class="o-List__Item c-Sitemap__Item"><a href="/sponsors">Sponsors</a></li>
  <li class="o-List__Item c-Sitemap__Item"><a href="/exhibitors">Exhibitors</a></li>
</ul>
