.c-DateBlock__Desc {
  // IE doesn’t support `calc()` values of `flex` shorthand, so must separate into longhands
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(~'100% - 8rem'); // for some reason we need a shorter width on IE
}
